# Ignore GCC specific flags in clang LSP
CompileFlags:
  CompilationDatabase: "target/xtensa-esp32s3-espidf/release/build/esp-idf-sys-3af183b3399b663a/out/build/"
  Remove:
    - -mlongcalls
    - -mtext-section-literals
    - -fstrict-volatile-bitfields
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -fipa-pta
    - -free
    - -mdisable-hardware-atomics
