# Ignore GCC specific flags in clang LSP
CompileFlags:
  Remove:
    - -mlongcalls
    - -mtext-section-literals
    - -fstrict-volatile-bitfields
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -fipa-pta
    - -free
    - -mdisable-hardware-atomics
